body {
  background: var(--background);
}

.favorites-container {
    display: grid;
    justify-content: center;
    background: var(--background);
    min-height: 87vh;
    margin-top: -1px;
    width: 100%;
}
.poke-favorites-grid {
    display: grid;
    align-items:self-start;
    width: 100%;
    height: 100%;
    gap:.5rem;
    padding: 10px;
}
.favorites-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: 30px;
    font-weight: 600;
    gap: 3rem;
}
.poke-fav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  height: 20%;
}
.poke-image {
    width: 200px;
    height: 200px;
}

@media only screen and (min-width: 1200px) {
  .favorites-container {
    padding: 10px;
}
    .poke-favorites-grid {
      grid-template-columns: repeat(6, 1fr);
      margin-top:-150px;
    }
    .poke-fav-text {
      font-size: 40px;
    }
  }
  
  @media only screen and (min-width:721px) and (max-width: 1199px) {
    .favorites-container {
      min-height: 90vh;
  }
    .poke-favorites-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (min-width:481px) and (max-width:720px) {
    .poke-favorites-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (min-width:0px) and (max-width:480px) {
    .favorites-container {
      min-height: 96vh;
      padding: 0px;
      margin: 0px;
    }
    .poke-favorites-grid {
      grid-template-columns: repeat(2, 1fr);
      margin-top:0px;
    }
    .favorites-text {
      color: var(--text);
      font-size: 18px;
      font-weight: 800;
      gap: 4rem;
    }
    .poke-fav-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: 900;
      height: 100%;
    }
  }