body {
    background: var(--background);
}

.home {
    height: 90vh;
    background: var(--background);
    
}
 
 .not-found-text {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 50px;
}

@media only screen and (min-width:0px) and (max-width:480px) {
    .home {
        min-height: 10vh;
     }
  }