.pokemon-card {
  display: grid;
  border-radius: 5px;
  padding: 0px;
  gap: 0rem;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.pokemon-card:hover {
  transform: scale(1.01);
  background-color: var(--hover);
  opacity: calc(0.7);
}

p, .card-top, .card-bottom {
  color: black;
}

.card-top, .card-bottom {
  padding: 0px;  
}

.pokemon-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pokemon-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  padding: 0px;
}

.pokemon-id {
  color: rgb(111, 105, 105);
  font-weight: 700;
}

.pokemon-name {
  font-size: 15px;
  font-weight: 900;
}

.poke-type {
  display: flex;
  flex-direction: row;
}

.type-poke {
  font-weight: 800;
  padding: 5px;
  padding-top: 3px;
}

.pokemon-type-text {
  margin: 2px;
  width: 70px;
  height: 30px;
  text-transform: capitalize;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.738);
  color:#ffffff;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize; 
  width: 100%;
  margin-top: -30px;
  padding: 5px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 50%;
  width: 100%;
  padding: 10px;
  margin-bottom: -20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 20px; 
  gap: 1rem;
}

.more-info {
  font-weight: 700;
}

.card-top h3 {
  text-transform: capitalize;
}

.pokemon-heart-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center ;
  border: none;
  border-radius: 100px;
  height: 30px;
  border-style:hidden;
  border-width: 3px;
  color: black;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .card-top {
    margin-top: -50px;
  }
  
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img-container {
    width: 100%;
  }
  .pokemon-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .pokemon-name {
    font-size: 30px;
    font-weight: 800;
  }
  .pokemon-id {
    font-size: 20px;
  }
  .pokemon-type-text {
    font-size: 20px;
    padding-top: 0px;
    width: 90px;
    height: 40px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 900;
  }
  .pokemon-type-text {
    margin-right: 30px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
  }
}

@media only screen and (min-width:481px) and (max-width:720px) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img-container {
    width: 100%;
  }
  .pokemon-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 800;
  }
  .pokemon-type-text {
    font-size: 20px;
    padding-top: 0px;
    width: 90px;
    height: 40px;
  }
}

@media only screen and (min-width:0px) and (max-width:480px) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img {
    max-width: 130px;
    max-height: 120px;
    border-radius: 5px;
    padding: 0px;
  }
  .pokemon-name {
    font-size: 12px;
    font-weight: 800;
  }
  .pokemon-id {
    font-size: 12px;
  }
  .pokemon-type-text {
    font-size: 10px;
    width: 40px;
    height: 20px;
  }
  .card-info {
    width: 100%;
    height: 100%;
  }
  .pokemon-heart-btn {
    border-radius: 100px;
    height: 30px;
  }
  .more-info {
    font-size: 12px;
  }
}

@media only screen and (min-width:0px) and (max-width:360px) {
  .pokemon-card {
    width: 100%;
    margin-bottom: 0px;
  }
  .pokemon-img {
    max-width: 140px;
    max-height: 110px;
    border-radius: 5px;
    padding: 0px;
  }
  .pokemon-name {
    font-size: 8px;
    font-weight: 800;
  }
  .pokemon-id {
    font-size: 8px;
  }
  .pokemon-type-text {
    font-size: 8px;
    font-weight: 600;
    width: 40px;
    height: 15px;
  }
  .card-info {
    width: 70%;
    height: 100%;
    font-size: 12px;
  }
  .pokemon-heart-btn {
    border-radius: 100px;
    height: 30px;
  }
  .more-info {
    font-size: 10px;
  }
}

@media only screen and (min-width:0px) and (max-width:320px) {
  .pokemon-card {
    width: 100%;
    margin-bottom: 0px;
  }
  .pokemon-img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
    padding: 0px;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 800;
  }
  .pokemon-id {
    font-size: 20px;
  }
  .pokemon-type-text {
    font-size: 15px;
    width: 50px;
    height: 30px;
  }
  .card-info {
    width: 90%;
    height: 100%;
    font-size: 20px;
  }
  .pokemon-heart-btn {
    border-radius: 100px;
    height: 30px;
  }
  .more-info {
    font-size: 10px;
  }
}

@media only screen and (min-width:0px) and (max-width:700px) and (orientation: landscape) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img {
    width: 200px;
    height: 200px;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 800;
  }
  .pokemon-img-container {
    margin-top: 0px;
  }
  .pokemon-type-text {
    margin-right: 30px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
  }
}