  .pokemon-card {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--pokemonBGC);
    color: var(--text);
    gap: .3rem;
  }
  
  .pokemon-card:hover {
    transform: scale(1.01);
    background-color: var(--hover);
  }
  
  p, .card-top, .card-bottom {
    color: var(--text);
  }
  
  .card-top, .card-bottom {
    padding: 0px;  
  }

  .pokemon-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .pokemon-img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    padding: 5px;
    background-color: var(--pokemonImg);
  }
  
  .pokemon-id {
    color: rgb(111, 105, 105);
    font-weight: 700;
  }

  .pokemon-name {
    font-size: 20px;
    font-weight: 900;
  }
  
  .pokemon-type {
    display: flex;
    flex-direction: row;
  }
  
  .pokemon-type-text {
    margin: 2px;
    width: 60px;
    height: 30px;
    text-transform: capitalize;
    border-style: groove;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    font-size: 13px;
    background-color: black;
    color: white;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize; 
    width: 100%;
  }
  
  .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 60%;
  }

  .card-info {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80%;
    padding: 5px; 
  }

  .more-info {
    font-weight: 700;
  }
  
  .card-top h3 {
    text-transform: capitalize;
  }
  
  .pokemon-heart-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    border: none;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 50px;
    height: 30px;
    border-style:inset;
    border-width: 2px;
    cursor: pointer;
  }

  .pokemon-favorite {
    margin-top: 2px;
  }

  .bi-heart {
    margin-top: 2px;
  }

  @media only screen and (min-width: 1200px) {
    .pokemon-card {
      width: 100%;
    }
  }
  
  @media only screen and (min-width:721px) and (max-width: 1199px) {
    .pokemon-img {
      width: 150px;
      height: 150px;
    }
    .pokemon-name {
      font-size: 20px;
      font-weight: 900;
    }
    .pokemon-img-container {
      margin-top: 10px;
    }
  }

@media (max-width: 767px) and (orientation: landscape) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img {
    width: 180px;
    height: 180px;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 900;
  }
  .pokemon-type-text {
    margin-right: 30px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
  }
}

@media only screen and (min-width:481px) and (max-width:720px) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img {
    width: 150px;
    height: 150px;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 800;
  }
  .pokemon-img-container {
  }
  .pokemon-type-text {
    font-size: 20px;
    padding-top: 0px;
    width: 90px;
    height: 40px;
  }
}

@media only screen and (min-width:0px) and (max-width:480px) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img {
    width: 100px;
    height: 100px;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 800;
  }
  .pokemon-type-text {
    font-size: 10px;
    width: 60px;
    height: 30px;
  }
  .card-info {
    width: 80%;
    height: 90%;
    padding: 10px; 
  }
}

  @media only screen and (min-width:0px) and (max-width:700px) and (orientation: landscape) {
  .pokemon-card {
    width: 100%;
  }
  .pokemon-img {
    width: 200px;
    height: 200px;
  }
  .pokemon-name {
    font-size: 20px;
    font-weight: 800;
  }
  .pokemon-img-container {
    margin-top: 0px;
  }
  .pokemon-type-text {
    margin-right: 30px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
  }
}