.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.pagination-btn {
  border-radius: 50%;
  border-color: white;
  color: black;
  margin: 5px;
  padding: inherit;
}
