.pagination {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
  width: 100%;
}

.pagination-btn {
  margin: 0px;
  border: none;
  cursor: pointer;
  color: var(--toggle);
  background-color: var(--background);
}

.paginatio-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  height: 100%;
  padding-top: 15px;
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
  .paginatio-text {
    font-size: 15px;  
  }
}

@media only screen and (min-width:0px) and (max-width:480px) {
  .pagination {
    padding-right: 0px;
  }
  .paginatio-text {
    font-size: 10px;  
  }
}
