.pokedex-container {
  width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title-pokedex {
    font-size: 30px;
    font-weight: 800;
    text-indent: 10px;
    padding-top: 10px;
  }
  
  .pokedex-grid {
    display: grid;
    gap:1rem;
    padding: 10px;
  }
  
  .pokedex-text-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    gap:5rem;
  }

  .title-pokedex, .pokedex-text-loading {
    color: var(--text);
  }

  .modelPokemon, .modelPokemon:hover {
    text-decoration: none;
  }
  
  @media only screen and (min-width: 1200px) {
    .pokedex-container {
      width: 100%;
      min-height: 78vh;
    }
    .pokedex-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  @media only screen and (min-width:721px) and (max-width: 1199px) {
    .pokedex-container {
      width: 100%;
      min-height: 90vh;
    }
    .pokedex-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .pokedex-text-loading {
      font-size: 50px;
      font-weight: 700;
      height: 50vh;
    }
  }
  
  @media only screen and (min-width:481px) and (max-width:720px) {
    .pokedex-container {
      width: 100%;
    }
    .pokedex-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (min-width:0px) and (max-width:480px) {
    .pokedex-container {
      width: 100%;
      min-height: 80vh;
    }
    .pokedex-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .pokedex-text-loading {
      font-size: 20px;
    }
  }
  