.pokedex-container {
  width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title-pokedex {
    font-size: 30px;
    font-weight: 800;
    text-indent: 30px;
    padding-top: 10px;
  }
  
  .pokedex-grid {
    display: grid;
    gap:1rem;
    padding: 10px;
    margin-top: 30px;
  }
  
  .pokedex-text-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    gap:5rem;
  }

  .title-pokedex, .pokedex-text-loading {
    color: var(--text);
}

  @media (max-width: 1980px) and (orientation: landscape) {
    .pokedex-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1200px) {
    .pokedex-container {
      width: 100%;
    }
    .pokedex-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1199px) and (min-width: 992px) {
    .pokedex-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 991px) and (min-width: 768px) {
    .pokedex-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .pokedex-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .pokedex-text-loading {
      font-size: 30px;
    }
  }
  