.pokemon-container {
    background: var(--background);
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:center;
    color: white;
    margin: 0px;
    padding: 0px;
}
.button-back {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.button {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-weight: 600;
    border-color: var(--toggle);
    background-color: var(--toggle);
    color: var(--textOpposite);
}
.not-poke-favorite {
    background: var(--background);
    height: 100%;
}
.box-pokemon {
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px var(--boxShadow);
}
.box-top-poke {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}
.box-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.box-center-left, .box-center-right {
    display: grid;
    align-items: center;
}
.box-center-left {
    width: 30%;
}
.box-center-right {
    width: 70%;
    height: 100%;
    margin-top: -5px;
}
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.pokemon-image {
    width: 300px;
    height: 300px;  
}
.poke-info-date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 40%;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.date {
    font-size: 20px;
    font-weight: 800;
}
.poke-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    margin-bottom: 10px;
}
.poke-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.473);
    font-size: 9px;
    border-radius: 10px;
    text-transform: uppercase;
}
.pokemon-info-date {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
.dates {
    display: flex;
    flex-direction: row;
}
.box-bottom {
    display: grid;
    align-items: left;
    text-align: left;
    gap: 1rem;
    width: 100%;
    padding: 0px;
    height: 100%;
    border-radius: 10px;
    margin-top: 5px;
}
.poke-types {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 5px;
    margin: 0px;
}
.name-date {
    font-size: 20px;
    height: 100%;
    margin-bottom: 0px;
    padding: 5px;
    color: rgb(255, 255, 255);
}
.pokemon-heart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border-style:hidden;
    border-width: 3px;
    color: black;
    cursor: pointer;
}
.pokemon-type {
    background-color: rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    color: var(--text);
}
.pokemon-ability {
    background-color: rgba(0, 0, 0, 0.168);
    border-radius: 10px;
}
.pokemon-power {
    background-color: rgba(0, 0, 0, 0.168);
    border-radius: 10px;
}
.not-power {
    height: 35px;
}
.poke-type-text {
    margin: 5px;
    width: 60px;
    height: 30px;
    text-transform: capitalize;
    border-style: groove;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border-style:hidden;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 800;
    background-color:rgba(0, 0, 0, 0.473);
    color:#ffffff;
}
.poke-ability-text {
    margin: 5px;
    width: 130px;
    height: 30px;
    text-transform: capitalize;
    border-style: groove;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: hidden;
    border-radius: 5px;
    font-size: 12px;
    background-color:rgba(0, 0, 0, 0.473);
    color: rgb(255, 255, 255);
}
.poke-power-text {
    margin: 5px;
    width: 130px;
    height: 30px;
    text-transform: capitalize;
    border-style: groove;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: hidden;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.473);
    color: rgb(255, 255, 255);
}
.poke-info-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
    .pokemon-container {
        min-height: 88.5vh;
    }
    .box-pokemon {
        width: 80%;
    }
    .button-back {
        width: 95%;
        height: 50px;
        margin: 20px;
    }
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
    .pokemon-container {
        min-height: 101vh;
    }
    .box-pokemon {
        width: 70%;
    } 
    .box-center {
        display: grid;
        justify-content: center;
        align-items: center;
    } 
    .pokemon-image {
        width: 450px;
        height: 400px;  
    }
    .poke-stats {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 20px;
        padding: 5px;
    }
    .poke-stat {
        width: 100%;
        height: 25px;
        margin: 0px;
        font-size: 15px;
        font-weight: 900;
        border-radius: 0px;
        background: none;
    }
    .dates {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:481px) and (max-width:720px) {
    .pokemon-container {
        min-height: 80vh;
        padding-top: 30px;
    } 
    .box-pokemon {
        width: 90%;
        margin-bottom: 30px;
    }
    .box-center {
        display: grid;
        justify-content: center;
        align-items: center;
    } 
    .pokemon-image {
        width: 500px;
        height: 500px;  
    }
    .poke-stats {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 20px;
        padding: 5px;
        margin-top: -10px;
    }
    .poke-stat {
        width: 100%;
        height: 25px;
        margin: 0px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 0px;
        background: none;
    }
    .dates {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .box-center-right {
        width: 100%;
    }
    .name-date {
        font-size: 20px;
    }
    .poke-info-date {
        width: 80%;
        font-size: 10px;
        font-weight: 800;
    }
}

@media only screen and (min-width:0px) and (max-width:480px) {
    .pokemon-container {
        min-height: 88.7vh;
    }   
    .button-back {
        width: 90%;
        height: 50px;
        margin: 10px;
    }
    .box-pokemon {
        background-color: var(--backgroundPoke) ;
        width:90%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .pokemon-image {
        width: 200px;
        height: 200px;
        margin-top: -35px;  
    }
    .box-center {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .poke-types {
        display: grid;
        justify-content: left;
        align-items: center;
        padding: 5px;
    }
    .dates-grid {
        display: grid;
        background: rgb(0, 0, 0);
    }
    .box-center-left {
        width: 100%;
    }
    .box-center-right {
        width: 100%;
    }
    .poke-stats {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 20px;
        padding: 5px;
    }
    .poke-stat {
        width: 100%;
        height: 25px;
        margin: 0px;
        font-size: 10px;
        font-weight: 900;
        border-radius: 0px;
        background: none;
    }
    .poke-info-date {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        font-size: 10px;
        font-weight: 800;
    }
    .date {
        font-size: 14px;
        font-weight: 800;
    }
    .name-date {
        font-size: 15px;
    }
    .dates {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }