.pokedex-container {
  width: 100%;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-pokedex {
  font-size: 30px;
  font-weight: 800;
  text-indent: 10px;
  padding-top: 0px;
}

.pokedex-grid {
  display: grid;
  width: 100%;
}

.pokedex-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  gap:5rem;
  margin-top: 100px;
} 

.title-pokedex, .pokedex-text-loading {
  color: var(--text);
}

.modelPokemon, .modelPokemon:hover {
  text-decoration: none;
}
  
@media only screen and (min-width: 1200px) {
  .pokedex-container {
    width: 100%;
  }
  .pokedex-grid {
    grid-template-columns: repeat(6, 1fr);
    gap:.5rem;
  }
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
  .pokedex-container {
    width: 100%;
    min-height: 100vh;
    background: var(--background);
  }
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 10px;
  }
  .pokedex-text-loading {
    font-size: 50px;
    font-weight: 700;
    height: 50vh;
  }
}

@media only screen and (min-width:481px) and (max-width:720px) {
  .pokedex-container {
    width: 100%;
    min-height: 100vh;
    background: var(--background);
    margin-bottom: 20px;
  }
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media only screen and (min-width:0px) and (max-width:480px) {
  .pokedex-container {
    width: 100%;
    min-height: 100vh;
    background: var(--background);
  }
  .pokedex-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap:0.5rem;
    padding: 10px;
  }
  .pokedex-text-loading {
    font-size: 20px;
    font-weight: 800;
  }
  .pokedex-text {
    margin-top: 0px;
  } 
}

@media only screen and (min-width:0px) and (max-width:360px) {
  .pokedex-container {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    background: var(--background);
  }
  .pokedex-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap:.4rem;
    margin-bottom: 10px;
    padding-left: 2px;
  }
  .pokedex-text-loading {
    font-size: 20px;
    font-weight: 800;
    margin-top: 50px;
  }
}

@media only screen and (min-width:0px) and (max-width:320px) {
  .pokedex-container {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    background: var(--background);
  }
  .pokedex-grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap:1rem;
    margin-bottom: 10px;
    padding-left: 2px;
  }
  .pokedex-text-loading {
    font-size: 20px;
    font-weight: 800;
    margin-top: 50px;
  }
}
  