.searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-top: -1px;
}

.searchbar {
  flex: 1;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  width: 100%;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn button {
  border: none;
  border-radius: 10px;
  height: 100%;
  padding: 10px 12px;
  margin-left: 10px;
  background-color: var(--toggle);
  color: var(--textOpposite);
}

@media only screen and (min-width: 1200px) {
  .searchbar-container {
    width: 50%;
    margin-left: 20px;
  }
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
  .searchbar-container {
    margin-top: -1px;
    padding: 20px;
  }
}

@media only screen and (min-width:481px) and (max-width:720px) {
  .searchbar-container {
    width: 80%;
  }
}

@media only screen and (min-width:0px) and (max-width:480px) {
  .searchbar-container {
    width: 95%;
    margin-left: 10px;
  }
}