body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: linear-gradient(90deg, rgb(241, 241, 241) 3%, rgb(243, 243, 243) 33%, rgb(240, 240, 240) 65%, rgb(237, 236, 236) 100%);
  --background2: #e1e1e1; 
  --backgroundPoke: rgb(234, 232, 236);
  --backgroundPoke2: rgb(216, 213, 216);
  --text: #000000;
  --toggle: #000000;
  --buttonSwitch: #FFFFFF; 
  --hover: rgba(227, 224, 228, 0.9);
  --pokemonBGC: rgba(219, 219, 219, 0.673);
  --pokemonImg: rgb(219, 214, 220);
  --button: #181818;
  --textOpposite: #FFFFFF;
}
[data-theme='dark'] {
  --background: linear-gradient(90deg, rgba(18,17,17,1) 14%, rgba(23,22,22,1) 55%, rgba(13,13,13,1) 88%);
  --background2: #0d0d0d;
  --backgroundPoke: rgb(14, 0, 18);
  --backgroundPoke2: rgb(14, 2, 16);
  --text: #ffffff;
  --toggle: #757575;
  --buttonSwitch:#B00000;
  --hover: rgb(27, 2, 54, 0.4);
  --pokemonBGC: #1d1124;
  --pokemonImg: #22142b;
  --button: #9C9A9A;
  --textOpposite: #000000;
}